<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <footer>
    <b><center>I am a <span style="color: #ff0000;">hacker</span>,and this is <span style="color: #ff0000;">my manifesto</span>.You may this individual,but you </center></b>
  <b><center>can't stop <span style="color: #ff0000;">us all</span>... after all, we're <span style="color: #ff0000;">all alike</span>.</center></b>
      <b><center>+++ <a href=http://phrack.org/issues/7/3.html><span style="color: 	#ffbf00;">The Mentor</span></a> +++</center></b>
      <b><center>( <span style="color: #ff0000;">January</span> <span style="color: #00bfff;">8</span>, <span style="color: #80ff00;">1986</span> )</b></center>
  </div>
</div>


